In [1]:
import pandas as pd
import json

with open("../data/raw/matches_raw.json", encoding="utf-8") as f:
    matches = json.load(f)
df = pd.DataFrame(matches)
df.describe()

,team1_goals,team2_goals,h2h_games_played,h2h_team1_wins,h2h_team2_wins,h2h_draws,h2h_team1_scored,h2h_team2_scored,h2h_team1_home_wins,h2h_team1_home_draws,h2h_team1_home_losses,h2h_team1_home_scored,h2h_team1_home_conceded,h2h_team2_home_wins,h2h_team2_home_draws,h2h_team2_home_losses,h2h_team2_home_scored,h2h_team2_home_conceded
count,230.000000,230.000000,230.000000,230.000000,230.000000,230.000000,230.000000,230.000000,230.000000,230.000000,230.000000,230.000000,230.000000,230.000000,230.000000,230.000000,230.000000,230.000000
mean,1.626087,1.182609,26.121739,9.956522,9.769565,6.395652,36.952174,36.382609,6.278261,3.182609,3.343478,21.413043,14.591304,6.426087,3.213043,3.678261,21.791304,15.539130
std,1.465533,1.179020,31.277361,12.553739,12.951166,7.875393,47.886350,47.964795,8.488932,4.262321,4.392265,29.437356,18.720605,8.853056,3.916464,4.387453,29.697160,18.821982
min,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,0.000000,2.000000,1.000000,1.000000,0.000000,2.000000,3.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,0.000000,0.000000,2.000000,2.000000
50%,1.000000,1.000000,18.000000,6.000000,5.000000,4.000000,22.000000,21.000000,3.500000,2.000000,2.000000,12.500000,8.000000,3.000000,2.000000,2.000000,12.000000,10.000000
75%,2.000000,2.000000,38.000000,13.000000,14.000000,9.000000,49.750000,47.750000,8.000000,5.000000,5.000000,28.750000,21.000000,8.000000,5.000000,5.750000,27.750000,21.000000
max,7.000000,5.000000,198.000000,83.000000,78.000000,47.000000,298.000000,282.000000,57.000000,26.000000,26.000000,181.000000,105.000000,52.000000,21.000000,26.000000,181.000000,117.000000